<div *ngIf="!pais; else divPais" class="alert alert-info">
  Espere por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h2>
        Pais: {{ pais.name }}
        <img [src]="pais.flags[1]" class="flag-por-pais" />
      </h2>
      <hr />
    </div>

    <h3>Información:</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Nombre nativo: </strong> {{ pais.nativeName }}
      </li>
      <li class="list-group-item">
        <strong>Capital: </strong> {{ pais.capital }}
      </li>
      <li class="list-group-item">
        <strong>Alpha2Code: </strong> {{ pais.alpha2Code }}
      </li>
      <li class="list-group-item">
        <strong>Región: </strong> {{ pais.continent }}, {{ pais.region }}
      </li>
      <li class="list-group-item">
        <strong>Area: </strong> {{ pais.area | number }} m2
      </li>
      <li class="list-group-item">
        <strong>Idioma: </strong> {{ pais.languages[0].nativeName }}
      </li>
      <li class="list-group-item">
        <strong>Población: </strong> {{ pais.population | number }}
      </li>
      <li class="list-group-item">
        <strong>Moneda: </strong> {{ pais.currencies[0].name }}
      </li>
      <li class="list-group-item">
        <strong>Zona horaria: </strong> {{ pais.timezones }}
      </li>
    </ul>
  </div>
  <br />
  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{ pais.translations.de }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.es }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.fr }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.ja }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.it }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.br }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.pt }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.nl }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.hr }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.fa }}</span>
    </div>
  </div>
</ng-template>
